 <table class="table">
    {{ form_start(form) }}
    <thead>
        <tr>
            <th>{{ form_label(form.title) }}</th>
            <th>
                {{ form_label(form.startEvent) }}
            </th>
            <th>{{ form_label(form.price) }}</th>
            <th>{{ form_label(form.location) }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_help(form.title) }}
            </td>
            <td>
                {{ form_widget(form.startEvent) }}
                {{ form_errors(form.startEvent) }}
                {{ form_help(form.startEvent) }}
                {{ form_widget(form.endEvent) }}
                {{ form_errors(form.endEvent) }}
                {{ form_help(form.endEvent) }}
            </td>
            <td>
                {{ form_widget(form.price) }}
                {{ form_errors(form.price) }}
                {{ form_help(form.price) }}
            </td>
            <td>
                {{ form_widget(form.location) }}
                {{ form_errors(form.location) }}
                {{ form_help(form.location) }}
            </td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>{{ form_label(form.imageFile) }}</th>
            <th>
                {{ form_label(form.isActualite) }}
            </th>
            <th>{{ form_label(form.participantMin) }}</th>
            <th>{{ form_label(form.participantMax) }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ form_widget(form.imageFile) }}
                {{ form_errors(form.imageFile) }}
                {{ form_help(form.imageFile) }}
            </td>
            <td>
                {{ form_widget(form.isActualite) }}
                {{ form_errors(form.isActualite) }}
                {{ form_help(form.isActualite) }}
            </td>
            <td>
                {{ form_widget(form.participantMin) }}
                {{ form_errors(form.participantMin) }}
                {{ form_help(form.participantMin) }}
            </td>
            <td>
                {{ form_widget(form.participantMax) }}
                {{ form_errors(form.participantMax) }}
                {{ form_help(form.participantMax) }}
            </td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>{{ form_label(form.description) }}</th>
            <th>{{ form_label(form.afficher) }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
                {{ form_help(form.description) }}
            </td>
            <td>
                {{ form_widget(form.afficher) }}
                {{ form_errors(form.afficher) }}
                {{ form_help(form.afficher) }}
            </td>
        </tr>
    </tbody>
</table>
<div class="flex">
    <div class="btn">
        <a href="{{ path('admin_event') }}">Revenir</a>
    </div>
    <div class="btn">
    {{ form_row(form.save)}}
    </div>  
</div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
