{% extends 'base_admin.html.twig' %}

{% block title %}Event index{% endblock %}

{% block main %}
<div class="form">
    <h1>Evènements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de l'évènement</th>
                <th>Prix</th>
                <th>Lieu</th>
                <th>Image</th>
                <th>Actualité ?</th>
                <th>Participants Min. Max.</th>
                <th>Description</th>
                <th>Planning ?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>
                    {{ event.startEvent ? event.startEvent|date('Y-m-d H:i:s') : '' }}
                    {{ event.endEvent ? event.endEvent|date('Y-m-d H:i:s') : '' }}
                </td>
                <td>{{ event.price }}</td>
                <td>{{ event.location }}</td>
                <td><img class="img-list" src="{{ asset('images/evenements/' ~ event.imageName) }}" alt="{{event.imageName}}"></td>
                <td>{{ event.isActualite ? 'Yes' : 'No'  }}</td>
                <td>{{ event.participantMin}} - {{ event.participantMax}}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.afficher ? 'Yes' : 'No' }}</td>
                <td>
                    <a  class="btn" href="{{ path('admin_event_edit', {'id': event.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas d'évenements</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="create">
        <a class="btn" href="{{ path('admin_event_new') }}">Créer évenement</a>
    </div>
</div>
{% endblock %}
