{% extends 'base.html.twig' %}

{% block title %}Samtosha{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/styles-front-samtosha.min.css') }}">
{% endblock %}

{% block main %}
<div class="imageAccueil">
        <img src="{{asset('images/samtosha/leaaccueil.png')}}" alt="" >
        <span class="proverbe">"Je vais creuser la montagne. " - Jacques Brenner</span>
</div>
<div class='container'>
    <div class='coursAccueil'>
        <div class="collectif">
            <div class="imageCollectif">
                <img src="{{asset('images/samtosha/collectif.png')}}" alt='photos cours collectifs'>
            </div>
            <h3>Cours Collectifs</h3>
        </div>
        <div class="prive">
            <div class="imagePrive">
            <img  src="{{asset('images/samtosha/prive.png')}}" alt='photos cours prive'>
            </div>
            <h3>Cours Privés</h3>
        </div>
        <div class="evenements">
            <div class="imageEvenements">
                <img src="{{asset('images/samtosha/evenements.png')}}" alt='photos evenements'> 
            </div>
            <h3>Evènements</h3>
        </div>
    </div>
    <div class="line"></div>
    <div class="actualiteAccueil">
        <h1>Actualités</h1>
        <div class="actualite1">
            <div class="actu1">actu1</div>
            <div class="actu2">actu2</div>
        </div>
        <div class="actualite2">
            <div class="actu3">actu3</div>
            <div class="actu4">actu4</div>
        </div>
    </div>
    <div class="line"></div>
    <div class="temoignagesAccueil">
        <h1>Témoignages</h1>
        <div class="temoignages1">
            <div class="tem1">tem1</div>
            <div class="tem2">tem2</div>
        </div>
        <div class="temoignages2">
            <div class="tem3">tem3</div>
            <div class="tem4">tem4</div>
        </div>
        <div class="temoignages3">
            <div class="tem5">tem5</div>
            <div class="tem6">tem6</div>
        </div>
    </div>
</div>
{% endblock %}
