{% extends 'base.html.twig' %}

{% block title %}Samtosha{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/styles-front-samtosha.min.css') }}">
{% endblock %}

{% block main %}
<div class="imageAccueil">
        <img src="{{asset('images/samtosha/leaaccueil.png')}}" alt="" >
        <span class="proverbe">"Je vais creuser la montagne. " - Jacques Brenner</span>
</div>
<div class='container'>
    <div class='coursAccueil'>
        <div class="collectif">
            <div class="imageCollectif">
                <img src="{{asset('images/samtosha/collectif.png')}}" alt='photos cours collectifs'>
            </div>
            <h3>Cours Collectifs</h3>
        </div>
        <div class="prive">
            <div class="imagePrive">
            <img  src="{{asset('images/samtosha/prive.png')}}" alt='photos cours prive'>
            </div>
            <h3>Cours Privés</h3>
        </div>
        <div class="evenements">
            <div class="imageEvenements">
                <img src="{{asset('images/samtosha/evenements.png')}}" alt='photos evenements'> 
            </div>
            <h3>Evènements</h3>
        </div>
    </div>
    <div class="line"></div>
    <div class="actualiteAccueil">
        <h1>Actualités</h1>
        <div class="actuContainer">
            {% for i, actu in last4Actu %}
            <div class="actuCard">
                {% if actu.imageName is not null %}
                <div class="imageCard">
                    <img src="{{ asset('images/evenements/' ~ actu.imageName)}}" alt='{{actu.title}}' class='actuImage'>
                </div>
                <div class="infoCard">
                    <h4>{{actu.title}}</h4>
                    {% if actu.startEvent|date('d') == actu.endEvent|date('d')%}
                    <p>Rendez vous le {{ actu.startEvent|date('d/m/Y')}} de {{actu.startEvent|date('H:i')}} à {{actu.endEvent|date('H:i')}}</p>
                    {% else %}
                    <p>Rendez vous du {{ actu.startEvent|date('d/m/Y')}} à {{actu.startEvent|date('H:i')}} au {{ actu.endEvent|date('d/m/Y')}} à {{actu.endEvent|date('H:i')}}</p>
                    {% endif %}
                    à
                    {% if actu.location is not null %}
                    <p> {{actu.location }} </p>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="line"></div>
    <div class="temoignagesAccueil">
        <h1>Témoignages</h1>
        <div class="temContainer">
            {% for i, tem in last6Tem %}
            <div class="temCard">
                <div class="infoCard">
                    <h4>{{tem.user.firstname}} :</h4>
                    <p>{{tem.monTemoignage}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
